.logon-container{
  width: 100%;
  max-width: 1120px;
  height: 75vh;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logon-container section.form{
  width: 100%;
  max-width: 350px;
  margin-right: 30px;
  margin-top: 10px;
}
.logon-container section.form .back-link{
  text-align: center;

}

.logon-container section.form form h1{
  text-align: center;
  color: #FFF;
}

.logon-container .back-link{
  text-align: right;
}

.logon-container section input{
  margin-top: 10px;
}

.logon-container section.form form h1{
  font-size: 32px;
  margin-bottom: 32px;
  color: #03a4ec;
}

